//colors
$primary: #fffffe; //mainly background
$secondary: #ffd803; //background of some elements
$accent: #bae8e8;
$text: #2d334a;
$text--button: #272343;

//Font weightss
$fnt-reg: 400;
$fnt-med: 500;
$fnt-bld: 700;
$fnt-blk: 900;
