//colors
$primary: #bae8e8; //mainly background
$secondary: #272343; //background of some elements
$accent: #ffd803;
$text: #2d334a;
$text--button: #fffffe;

//Font weightss
$fnt-reg: 400;
$fnt-med: 500;
$fnt-bld: 700;
$fnt-blk: 900;
