body {
  color: $text;
  font-size: 16px;
  font-family: 'Azeret Mono', monospace;

  background-color: $primary;
}

.stopwatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 25vh 2rem 0;
  &__title {
    margin: 0;

    font-size: 80px;
    font-weight: $fnt-bld;
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }
  &__desc {
    margin: 0;
  }
  &__timer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 0;

    font-size: 72px;
  }
  &__timer--colon {
    text-align: justify;
  }
  &__btn-list {
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
  }
  &__btn-list__item {
    position: relative;
    width: 15rem;
    height: 4rem;
    padding-left: 2rem;

    color: $text--button;
    font-weight: $fnt-med;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.3em;

    border: none;
    border-radius: 0.5rem;
    background-color: $secondary;
    cursor: pointer;
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1),
      background-color 2s cubic-bezier(0.075, 0.82, 0.165, 1),
      color 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    &__icon--use {
      transition: fill 3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    &:hover {
      color: mix($text--button, $secondary, 0);

      background-color: mix($secondary, $accent, 0);
      transform: scale(1.1);
    }
    &:hover &__icon--use {
      fill: $secondary;
    }
  }
}
